<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US">
<head>
    <title>NeditBox: Image Editor </title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1"/>
    <meta name="description"
          content="Experience NeditboX, the next generation photo editor! No installation and registration required. Use for free on desktop, tablets & phones.">
    <meta name="keywords"
          content="photo editing,photo editor,photoshop,free,lightroom,lightroom download,free lightroom download,free online photo editor,online photo editor,online raw photo,aperture,snapseed,pixlr,vsco,picmonkey,best iphone photo editor,iphone photo editor,android photo editor,photography,editing,foto,retouching,processing,preset,filter,tutorial">

    <meta property="og:site_name" content="Photo Editor : Neditbox.com - free image editing online"/>
    <meta property="og:title" content="Photo Editor : Neditbox.com - free image editing online"/>
    <meta property="og:description"
          content="Experience NeditboX, the next generation photo editor! No installation and registration required. Use for free on desktop, tablets & phones."/>
    <meta property="og:image" content="/images/best-photo-editor-cover.jpg"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://neditbox.com/x"/>

    <link rel="shortcut icon" href="">
    <link rel="icon" href="">


    <link rel="stylesheet" href="{% static 'dist/main.96b83bb19adf9b611d59' %}.css" type="text/css" charset="utf-8"/>

    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
     <script src="{% static 'dist/perspective.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/exif-js.js' %}"></script>
<script async src="{% static 'x/js/ffo.js' %}"></script>


<style>


img {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
}

#container
{
margin-top: 16px !important;
color: hsla(0,0%,100%,.8);
background-color: #23262a;
border-radius: 8px;
padding: 30px;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between}

#container div
{
object-position:50% 50%;
height:100px;
width:19%;
border-radius:1px;
cursor:pointer;
margin:5px}

canvas-perspective {
    border: 1px solid #888888;
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    position: absolute

}

</style>

</head>
<body>


<div id="home">



    <a id="toggle-editor" tooltip="back to editor" flow="right" onclick="toogleHome()"><img
            src="{% static 'x/img/home.svg' %} "/></a>

    <div id="wrap">
        <a id="home-logo" href=""> neditbox </a>

        <div id="menu-section">

            <div class="flatbox">


                <!--                <input id="home-open-image" class="button positive pad-20" type="file"  value="open image" onclick="myFunction()" >-->

                <label for="files"> <a id="home-open-image" class="button positive pad-20">open image </a></label>
                <input id="files" style="visibility:hidden;" type="file" onchange="previewFile()">


                <a id="home-open-url" class="button positive pad-16">load url</a>


                <small class="tip pad-16" style="display: block">You can also drag and drop files or paste from the
                    clipboard to open.
                </small>
            </div>
        </div>

        <div id="home-section">

            <div class="flatbox" id="home-box" style="min-height:400px;">
<!--                 <div id="file-content"></div>-->
                <img  id="imgedit"  src="" alt="Upload whatever image you want to edit" style=" max-width:75%;
  max-height:75%;" />




            </div>


            <div id="container"   class="dropzone">
                <p style="flex-grow:3 ">AVAILABLE TVs</p>


                {%for tv in tvs%}

                <div >

                    <img id="img-{{tv.name}}"  src="{{tv.image}}" alt="" />
                </div>

                {%endfor%}
                <div>
<!--                    <img id="star-demo" class="draggable" src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Flat_Screen.svg"/> -->
                <canvas id="canvas-perspective" class="interactable" ></canvas>


                </div>
<!--                <p>Processing Time: <span id="ms">-</span> ms</p>-->


            </div>

<script src="{% static 'dist/accp.js' %}"></script>
        </div>
    </div>
</div>
</div>



</body>
</html>
